<p><b>ID: </b>{{id}} </p>

<!-- <div *ngFor="let message of getmsgData">
  <div *ngIf="message.id == id">
    
    <p><b>Name: </b>{{message?.sender?.name}}</p> 
    <p><b>Content: </b>{{message?.content}}</p>
    <p><b>Date: </b>{{message?.date}} </p> 
  </div>
</div> -->
<form [formGroup]="sendMessagesForm">
  <input type = "text" formControlName = 'messageInput' />
  <button (click) = "sendMessage()">Send Message</button>
</form>

<div *ngFor="let item of urlMessages">
  <div *ngIf="item.id == id">
    <p><b>Url message is </b>{{ item.content }}</p>
  </div>
</div>

<div *ngFor="let newMessage of newStoreMessage">
  <div *ngIf="newMessage.id == id">
    <p>Entered message is {{newMessage.content}}</p>
  </div>
</div>